@font-face {
	font-family: "inter";
	src: url('/public/assets/fonts/inter.ttf');
}

@font-face {
	font-family: "outfit";
	src: url('/public/assets/fonts/outfit.ttf');
}

/* ROOT MODIFICATIONS */
:root {
	--ff-heading: "inter", "segoe ui", Helvetica, Arial;
	--ff-body: "outfit", "verdana", Arial;
	--clr-black: hsla(240, 7%, 3%, 1);
	--clr-white: hsla(0, 0%, 100%, 1);
	--clr-grey: hsla(0, 0%, 86%, 1);
	--clr-deep-grey: hsla(206, 4%, 61%, 1);
	--clr-deep-grey-hover: rgba(152, 156, 160, 0.233);
}

/* RESET */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* SETUP */
html {
	font-size: 62.5%;
}

body {
	color: var(--clr-white);
	background-color: var(--clr-black)
}

img {
	display: block;
	outline: none;
	user-select: none;
}

:where(html, body) {
	height: 100%;
}

:where(a, a:hover, a:active, a:visited) {
	color: inherit;
	font-style: inherit;
}

:where(button, button:active) {
	color: inherit;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:where(p, span, aside, ) {
	font-size: 1.8rem;
}

:where(ul > li) {
	list-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
	max-width: 300px;
	margin: 0px auto;
}

/* WEBSITE STYLING */
header {
	margin-top: 2rem;
}

header .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header .container svg {
	max-width: 20rem;
}

header nav {
	margin-top: 32px;
	padding: 12px 0px 18px 0px;
}

header nav ul li {
	font-family: var(--ff-heading);
	font-size: 1.8rem;
	padding: 12px 22px;
	margin-bottom: 8px;
	color: var(--clr-grey);
	will-change: background-color;
	transition: background-color 250ms, border-color 250ms;
	font-weight: 500;
	cursor: pointer;
	user-select: none;
	border: 2px solid transparent;
}

header nav ul li.signup-btn {
	border: 2px solid var(--clr-deep-grey);
	margin-bottom: 0px;
}

header nav ul li span.grey-text {
	color: var(--clr-grey) !important;
	font-weight: 300 !important;
}

header nav ul :where(li:hover, li:active) {
	color: var(--clr-white) !important;
	background-color: var(--clr-deep-grey-hover);
}

header nav ul :where(li.signup-btn:hover, li.signup-btn:active) {
	border-color: var(--clr-white) !important
}

main {
	margin-top: 8.2rem;
}

main .container {
	display: flex;
	flex-direction: column;
	align-items: center !important;
}

main .container .product-description {
	order: 2;
	z-index: 8;
	flex-grow: 1;
}

main .container .product-description :where(h1, h1 > span) {
	font-family: var(--ff-heading);
	font-size: 4.4rem !important;
	margin-bottom: 1.2rem;
	word-wrap: break-word;
	cursor: default;
	user-select: none;
	will-change: color;
	transition: color 250ms;
}

main .container .product-description h1:hover {
	color: var(--clr-deep-grey-hover);
}

main .container .product-description h1 span:hover {
	color: var(--clr-white) !important
}

main .container .product-description p {
	font-family: var(--ff-body);
	color: var(--clr-deep-grey);
	font-size: 2.4rem;
}

main .container .product-description button {
	color: var(--clr-black);
	background-color: var(--clr-white);
	font-family: var(--ff-heading);
	font-size: 2rem;
	padding: 12px 24px;
	margin: 2rem 0px;
	font-weight: 600;
	will-change: transform;
	transform: scale(1);
	transition: transform 250ms;
}

main .container .product-description button span.light-text {
	font-weight: 400;
}

main .container .product-description button:active {
	transform: scale(0.98)
}

main .container .product-display {
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	position: relative;
	order: 1;
}

main .container .product-display img.product {
	max-width: 100%;
	display: inline-block;
	margin-bottom: 16px;
	z-index: 2;
} 

main .container .product-display img.pattern {
	position: absolute;
	max-width: calc(0.2 * 100%);
	top: -30px;
	right: -15px;
}

main .container .product-display img.pattern-bottom {
	position: absolute;
	max-width: calc(0.2 * 100%);
	bottom: -20px;
	left: -10px;
}

main .container .product-display .blur {
	position: absolute;
	bottom: 0px !important;
	left: 0px;
	width: 100%;
	height: 30%;
	background-image: linear-gradient(to bottom, hsla(240, 7%, 3%, 0) 0%, var(--clr-black) 80%);
	z-index: 4;
}

.review {
	position: relative;
	margin-top: 6rem;
	margin-bottom: 4rem;
	padding-top: 4rem;
}

.review::before {
	content: '';
	position: absolute;
	width: 15%;
	height: 6px;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	background-color: var(--clr-deep-grey)
}

.review p.review-comment {
	font-family: var(--ff-heading);
	color: var(--clr-white) !important;
	font-weight: 500;
	word-wrap: break-word;
}

.review .reviewer  {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.review .reviewer img {
	max-width: 62px;
}

.review .reviewer .reviewer-description {
	margin-left: 1.6rem;
}

.review .reviewer .reviewer-description h4 {
	font-family: var(--ff-heading);
	font-size: 1.8rem;
}

.review .reviewer .reviewer-description p {
	font-family: var(--ff-body);
	font-size: 1.4rem;
	color: var(--clr-deep-grey)
}

/* MEDIA QUERIES */
@media screen and (min-width: 680px) {
	.container {
		width: 90%;
		max-width: 1120px !important;
	}

	header .container svg {
		max-width: 14rem !important;
		max-height: 6rem !important;
	}

	header nav ul li {
		font-size: 1.6rem !important;
		padding: 16px 24px;
	}

	header nav ul li span.grey-text {
		font-size: inherit !important;
	}

	main .container {
		flex-direction: row;
		align-items: flex-start !important;
	}

	main .container .product-description {
		order: 1;
		min-width: calc(50% - 20px);
		margin-right: 20px;
	}

	main .container .product-description p {
		font-size: 2.0rem;
	}

	main .container .product-display {
		order: 2;
		min-width: calc(50% - 20px);
	}

}

@media screen and (min-width: 440px) {
	.container {
		max-width: 90%;
	}

	header .container svg {
		max-width: 10rem;
		max-height: 4rem;
	}

	header .container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	header nav {
		border: none;
		margin-top: 0px;
		padding: 0px;
	}

	header nav ul {
		display: flex;
		align-items: center;
	}

	header nav ul li {
		margin-bottom: 0px !important;
		margin-right: 16px;
		font-size: 1.2rem;
	}

	header nav ul li span.grey-text {
		font-size: 1.2rem;
	}

	header nav ul li:last-of-type {
		margin-right: 0px;
	}

}

@media screen and (max-width: 440px) {
	main .container .product-description button {
		width: 100% !important;
	}
}